<!DOCTYPE html>
{% extends 'base.html' %}
{%block title %}
Scrumptious recipes
{%endblock title%}
{%block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
</header>
<main>
   <form method="post">
    {% csrf_token%}
    {{ form.as_p}}
    <button>Create</button>
   </form>
</main>
{%endblock content%}
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{recipe_object.title}} -
        Scrumtious Recipes
    </title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}" >
</head>
<body>
    <footer class="footer"> Made with love by Scrumptious Recipes</footer>



</body>
</html>
