<!DOCTYPE html>
{% extends 'base.html' %}
{%block title %}
Scrumptious recipes
{%endblock title%}
{%block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
</header>
<main>
    <h1>{{recipe_object.title}}</h1>
    <img class = "fit-picture"
    src = "{{recipe_object.picture}}"
    alt="tacos on a plate"
    width = "200"
    height = "200">
    <div> 4.3 Stars</div>
    <p>{{recipe_object.description}}</p>
    <a href="{% url 'edit_recipe' recipe_object.id %}"><button>Edit a recipe</button></a>
    <h2> Ingredients
    </h2>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
        </thead>
        <tbody>
            {%for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td> {{ingredient.amount}}</td>
                <td> {{ingredient.food_item}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <h2> Steps
    </h2>
    <ol>
        {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
        {%endfor%}
    </ol>
    <div>


        <div>
        </div>
    </main>
{%endblock content%}
    {% load static %}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {{recipe.title}} -
        Scrumptious Recipes
    </title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}" >
</head>
<body>
    <footer class="footer"> Made with love by Scrumptious Recipes</footer>



</body>
</html>
