<!DOCTYPE html>
{% extends 'base.html' %}
{%block title %}
Scrumptious recipes
{%endblock title%}
{%block content %}
Hi!
<header>
    <nav>
        <a  href="{% url 'recipe_list' %}">Main Page</a>
        {%if user.is_authenticated %}
        Hello, {{user.username}}
        <a href="{%url 'create_recipe' %}">Create a recipe</a>
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        <a href="{% url 'user_logout' %}">Logout</a>
    {%else%}
        <a href= "{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'user_login' %}">Login</a>
    {% endif %}

</nav>
</header>
<main>
<h1>Scrumptious Recipes</h1>
<h2>All the foods that's fit to eat</h2>
    <div class="container-with-grid">
    {% for recipe in recipe_list %}
    <div>
        <h3> <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
        </h3>
        <p>{{ recipe.created_on|date}}</p>
        <img class ="fit-picture"
        src="{{recipe.picture}}"
        alt ="tacos on a plate"
        width = "200"
        height ="200">
        <div>
            4.3 stars
        </div>
    </div>
    {% endfor %}


</main>
{%endblock content%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
    <footer> Made with love by Scrumptious Recipes</footer>

</body>
</html>
